body {
  margin: 0;
  padding: 0;
  font-family: "Geist Sans", sans-serif;
  background-color: black;
  color: white;
}

.page-container {
  max-height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2rem;
}

.navbar-container {
  position: fixed;
  justify-content: center;
  display: flex;
  bottom: 0;
  height: 8dvh;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  height: 5dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  background-color: black;
}
