body {
  margin: 0;
  padding: 0;
  font-family: "Geist Sans", sans-serif;
  background-color: black;
  color: white;
}

.page-container {
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.navbar-container {
  position: absolute;
  justify-content: center;
  display: flex;
  bottom: 0;
  height: 8dvh;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
